[submodule "poky"]
	path = poky
	url = git://git.yoctoproject.org/poky.git
[submodule "layers/meta-openembedded"]
	path = layers/meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
[submodule "layers/meta-intel"]
	path = layers/meta-intel
	url = git://git.yoctoproject.org/meta-intel
[submodule "layers/meta-raspberrypi"]
	path = layers/meta-raspberrypi
	url = git://git.yoctoproject.org/meta-raspberrypi
[submodule "layers/meta-retro"]
	path = layers/meta-retro
	url = https://github.com/dev-0x7C6/meta-retro.git
[submodule "layers/meta-qt5"]
	path = layers/meta-qt5
	url = https://code.qt.io/yocto/meta-qt5.git
[submodule "layers/meta-kodi"]
	path = layers/meta-kodi
	url = https://github.com/dev-0x7C6/meta-kodi.git
[submodule "layers/meta-mesa"]
	path = layers/meta-mesa
	url = https://github.com/dev-0x7C6/meta-mesa.git
[submodule "layers/meta-dev1990"]
	path = layers/meta-dev1990
	url = https://github.com/dev-0x7C6/meta-dev1990.git
