[submodule "poky"]
	path = poky
	url = git://git.yoctoproject.org/poky.git
	branch = hardknott
[submodule "layers/meta-openembedded"]
	path = layers/meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
	branch = hardknott
[submodule "layers/meta-intel"]
	path = layers/meta-intel
	url = git://git.yoctoproject.org/meta-intel
	branch = hardknott
[submodule "layers/meta-raspberrypi"]
	path = layers/meta-raspberrypi
	url = git://git.yoctoproject.org/meta-raspberrypi
	branch = hardknott
[submodule "layers/meta-retro"]
	path = layers/meta-retro
	url = https://github.com/dev-0x7C6/meta-retro.git
	branch = master
[submodule "layers/meta-kodi"]
	path = layers/meta-kodi
	url = https://github.com/koenkooi/meta-kodi.git
	branch = master-next
[submodule "layers/meta-mesa"]
	path = layers/meta-mesa
	url = https://github.com/dev-0x7C6/meta-mesa.git
	branch = master
[submodule "layers/meta-dev1990"]
	path = layers/meta-dev1990
	url = https://github.com/dev-0x7C6/meta-dev1990.git
	branch = master
[submodule "layers/meta-python2"]
	path = layers/meta-python2
	url = https://git.openembedded.org/meta-python2
	branch = hardknott
[submodule "layers/meta-rauc"]
	path = layers/meta-rauc
	url = https://github.com/rauc/meta-rauc.git
	branch = master
[submodule "layers/meta-rauc-community"]
	path = layers/meta-rauc-community
	url = https://github.com/leon-anavi/meta-rauc-community.git
	branch = master
[submodule "layers/meta-sunxi"]
	path = layers/meta-sunxi
	url = https://github.com/linux-sunxi/meta-sunxi.git
	branch = hardknott
[submodule "layers/meta-meson"]
	path = layers/meta-meson
	url = https://github.com/dev-0x7C6/meta-meson.git
	branch = master
[submodule "layers/meta-raspberrypi-extras"]
	path = layers/meta-raspberrypi-extras
	url = https://github.com/dev-0x7C6/meta-raspberrypi-extras
	branch = master
[submodule "layers/meta-rockchip"]
	path = layers/meta-rockchip
	url = git://git.yoctoproject.org/meta-rockchip
	branch = hardknott
[submodule "layers/meta-arm"]
	path = layers/meta-arm
	url = git://git.yoctoproject.org/meta-arm
	branch = hardknott
[submodule "layers/meta-clang"]
	path = layers/meta-clang
	url = https://github.com/kraj/meta-clang.git
	branch = hardknott
[submodule "layers/meta-rockchip-extras"]
	path = layers/meta-rockchip-extras
	url = https://github.com/MarkusVolk/meta-rockchip-extras.git
	branch = hardknott
[submodule "layers/meta-wayland"]
	path = layers/meta-wayland
	url = https://github.com/MarkusVolk/meta-wayland.git
	branch = hardknott
[submodule "layers/meta-ryzen"]
	path = layers/meta-ryzen
	url = https://github.com/dev-0x7C6/meta-ryzen.git
	branch = main
[submodule "layers/meta-qt5"]
	path = layers/meta-qt5
	url = https://github.com/meta-qt5/meta-qt5.git
	branch = hardknott
