[submodule "poky"]
	path = poky
	url = git://git.yoctoproject.org/poky.git
	branch = master
[submodule "layers/meta-openembedded"]
	path = layers/meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
	branch = master
[submodule "layers/meta-intel"]
	path = layers/meta-intel
	url = git://git.yoctoproject.org/meta-intel
	branch = master
[submodule "layers/meta-raspberrypi"]
	path = layers/meta-raspberrypi
	url = git://git.yoctoproject.org/meta-raspberrypi
	branch = master
[submodule "layers/meta-retro"]
	path = layers/meta-retro
	url = https://github.com/dev-0x7C6/meta-retro.git
	branch = master
[submodule "layers/meta-qt5"]
	path = layers/meta-qt5
	url = https://code.qt.io/yocto/meta-qt5.git
	branch = 5.15
[submodule "layers/meta-kodi"]
	path = layers/meta-kodi
	url = https://github.com/dev-0x7C6/meta-kodi.git
	branch = master-next
[submodule "layers/meta-mesa"]
	path = layers/meta-mesa
	url = https://github.com/dev-0x7C6/meta-mesa.git
	branch = master
[submodule "layers/meta-dev1990"]
	path = layers/meta-dev1990
	url = https://github.com/dev-0x7C6/meta-dev1990.git
	branch = master
[submodule "layers/meta-python2"]
	path = layers/meta-python2
	url = https://git.openembedded.org/meta-python2
	branch = master
[submodule "layers/meta-rauc"]
	path = layers/meta-rauc
	url = https://github.com/rauc/meta-rauc.git
	branch = master
[submodule "layers/meta-rauc-community"]
	path = layers/meta-rauc-community
	url = https://github.com/dev-0x7C6/meta-rauc-community.git
	branch = master
[submodule "layers/meta-sunxi"]
	path = layers/meta-sunxi
	url = https://github.com/dev-0x7C6/meta-sunxi.git
	branch = master
[submodule "layers/meta-meson"]
	path = layers/meta-meson
	url = https://github.com/dev-0x7C6/meta-meson.git
	branch = master
